<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<style>
    .container1{
        color: #a4a4a4;
    }
    .horizontal-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 200px;
  }

  .horizontal-list li {
    margin-right: 50px;
  }
</style>

<section class="footer" style="background-color: #f6f6f6; height: 200px; border-top: 1px solid #c9c9c9" >
    <div class="container1">
       <ul class="horizontal-list">
          <li>계약 조건</li>
          <li>액세스 조건</li>
          <li>쿠키 정책</li>
          <li>쿠키</li>
          <li>개인 정보 정책</li>
          <li>Copyright SimB Inc. All rights reserved.</li>
      </ul>
    </div>
</section>
</html>